<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title>Assign Judge To Dog</title>
		<link rel="stylesheet" type="text/css" href="/css/root.css">
	</head>
	
<body>
    
	
	

	<h2>Assign Judge To Dog</h2>
	<form th:action="@{/selectJudge}" method="post">
	    <label>Select The Judge:</label>
	    <select name="judgeId" required>
	        <option th:each="judge : ${judgeList}" th:value="${judge.id}" th:text="${judge.judgeName}"></option>
	    </select>
		<button type="submit">Confirm Judge</button>
		</form>

	    <br>
	    
		
		

	
<h1>Navigation</h1>
   <a href="/"><button>Home</button></a>
   <a href="/addJudge"><button>Add Judge</button></a>
   <a href="/addDog"><button>Add Dog</button></a>
   <a href="/addOwner"><button>Add Owner</button></a>
   <a href="/assignJudgeToDog"><button>Assign Judge to Dog</button></a>
   <a href="/assignOwnerToDog"><button>Assign Owner to Dog</button></a>
   <a href="/view"><button>View</button></a>
  </body>
</html>