<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title>Assign Judge To Dog</title>
		<link rel="stylesheet" type="text/css" href="/css/root.css">

	</head>
	
<body>
    

	
	<h2>Assign Owner To Dog</h2>
	<form th:action="@{/assignOwnerToDog}" method="post">
	    <label>Select The Owner:</label>
	    <select name="ownerId" required>
	        <option th:each="owner : ${ownerList}" th:value="${owner.id}" th:text="${owner.FirstName} + ' ' +  ${owner.lastName}"></option>
	    </select>
	    
	    <br>
	    

		<label>Select Dogs to Judge:</label>

		<div th:if="${#lists.size(dogList) > 0}">
		    <div th:each="dog : ${dogList}">
		        <div th:if="${dog.owner == null}">
		            <input type="checkbox" name="dogIds" th:value="${dog.id}" required>
		            <label th:text="${dog.dogName}"></label>
		        </div>
		    </div>
		    
		    <br>
		    <button type="submit">Assign Owner To Dog</button>
			<p>If there is no dog option clicking the button will cause error because there is no option tag for the "required" option to work</p>
		</div>


		
		
		
		
		

		
		
		
		
				<div th:if="${#lists.size(dogList) == 0}">
		    <p style="color: red; font-weight: bold;">No available dogs to assign.</p>
		</div>
	</form>

	
<h1>Navigation</h1>
   <a href="/"><button>Home</button></a>
   <a href="/addJudge"><button>Add Judge</button></a>
   <a href="/addDog"><button>Add Dog</button></a>
   <a href="/addOwner"><button>Add Owner</button></a>
   <a href="/assignJudgeToDog"><button>Assign Judge to Dog</button></a>
   <a href="/assignOwnerToDog"><button>Assign Owner to Dog</button></a>
   <a href="/view"><button>View</button></a>
  </body>
</html>