<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Owner Details</title>
	<link rel="stylesheet" type="text/css" href="/css/root.css">
</head>
<body>

    <h2 th:text="${judgeDetail.judgeName} + ' Dog Detail'"></h2>
	
	   
		<table border="1">
			<tr>
			    <th>Dog Will Be Judged</th>
				<th>Owner Name</th>
			</tr>
			
			<tr th:each="dog : ${judgeDetail.dogs}">
			    <td th:text="${dog.dogName}">a</td>
				<td th:each="owner : ${dog.owner}" th:text="${owner.firstName} + ' ' + ${owner.lastName}"></td>
			</tr>

		
	
	</table>



</body>

<h1>Navigation</h1>
<a href="/"><button>Home</button></a>
<a href="/addJudge"><button>Add Judge</button></a>
<a href="/addDog"><button>Add Dog</button></a>
<a href="/addOwner"><button>Add Owner</button></a>
<a href="/assignJudgeToDog"><button>Assign Judge to Dog</button></a>
<a href="/assignOwnerToDog"><button>Assign Owner to Dog</button></a>
<a href="/view"><button>View</button></a>

</html>
